$c-yellow: #f79e1b;
// screen
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;

$f-dm-sans: "DM Sans", sans-serif;

// mixing
@mixin resp($width) {
  @media only screen and (min-width: $width) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: $f-dm-sans;
  font-optical-sizing: auto;
  font-style: normal;
}

%flex {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

%flex-center {
  @extend %flex;
  justify-content: center;
}

img {
  display: inline-block;
  width: 100%;
}

.order-status {
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  padding: 6px;
  text-align: center;
  background-color: $c-yellow;
  @include resp($lg) {
    padding: 10px;
  }

  .order-timeout {
    font-weight: 700;
  }
}

.brands {
  @extend %flex;
  padding: 15px 20px;
  gap: 10px;
  @include resp(425px) {
    gap: 15px;
  }
  .title {
    font-size: 14px;
    font-weight: 500;
    line-height: 18.23px;
    flex: 1;
    @include resp($lg) {
      font-size: 26px;
      line-height: 34px;
    }
  }
  .king-of {
    width: 58px;
    @include resp($lg) {
      order: -1;
      width: 82px;
    }
  }
  .cards-logo {
    width: 115px;
    @include resp($lg) {
      width: 138px;
    }
  }
}
