$c-yellow: #f79e1b;
// screen
$screen-sm: 640px;
$screen-md: 768px;
$screen-lg: 1024px;
$screen-xl: 1280px;
$screen-2xl: 1536px;

$f-dm-sans: "DM Sans", sans-serif;

// mixing
@mixin resp($width) {
  @media only screen and (min-width: $width) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: $f-dm-sans;
  font-optical-sizing: auto;
  font-style: normal;
}

.order-status {
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  padding: 6px;
  text-align: center;
  background-color: $c-yellow;
  @include resp($screen-lg) {
    padding: 10px;
  }

  .order-timeout {
    font-weight: 700;
  }
}
